<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/auth/forgot-pass/action" method="POST">
      <lable>Nhập mật khẩu mới</lable>
      <input name="password" />
      <lable>Nhập lại mật khẩu mới</lable>
      <input name="confirmPassword" />
      <button type="submit">Reset password</button>
    </form>
  </body>
</html>
